.wrapper {
  display: flex;
}

.box {
  background-color: #91caff;
  width: 400px;
  height: 200px;
}

.controller {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  :global {
    .ant-form-item {
      width: 25%;
      padding-left: 20px;
    }
  }
}
