
// padding
.padding-l-m { padding-left: 4px; }
.padding-l-l { padding-left: 10px; }
.padding-l-xl { padding-left: 20px; }
.padding-l-xxl { padding-left: 30px; }

.padding-r-m { padding-right: 4px; }
.padding-r-l { padding-right: 10px; }
.padding-r-xl { padding-right: 20px; }
.padding-r-xxl { padding-right: 30px; }

.padding-t-m { padding-top: 4px; }
.padding-t-l { padding-top: 10px; }
.padding-t-xl { padding-top: 20px; }
.padding-t-xxl { padding-top: 30px; }

.padding-b-m { padding-bottom: 4px; }
.padding-b-l { padding-bottom: 10px; }
.padding-b-xl { padding-bottom: 20px; }
.padding-b-xxl { padding-bottom: 30px; }

// margin
.margin-l-m { margin-left: 4px; }
.margin-l-l { margin-left: 10px; }
.margin-l-xl { margin-left: 20px; }
.margin-l-xxl { margin-left: 30px; }

.margin-r-m { margin-right: 4px; }
.margin-r-l { margin-right: 10px; }
.margin-r-xl { margin-right: 20px; }
.margin-r-xxl { margin-right: 30px; }

.margin-t-m { margin-top: 4px; }
.margin-t-l { margin-top: 10px; }
.margin-t-xl { margin-top: 20px; }
.margin-t-xxl { margin-top: 30px; }

.margin-b-m { margin-bottom: 4px; }
.margin-b-l { margin-bottom: 10px; }
.margin-b-xl { margin-bottom: 20px; }
.margin-b-xxl { margin-bottom: 30px; }
