$color: #F1BA36;
$shadow-color: rgba(#000, 0.2);

// 圆形按钮
@mixin circular-btn($size, $padding) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow:
    0 0 2px rgba(104, 19, 9, 0.5),
    0 0 4px 1px rgba(104, 19, 9, 0.8),
    2px 4px 10px 4px rgba(203, 142, 18, 0.7),
    inset 0 0 0 2px darken($color: $color, $amount: 2%),
    inset 0 3px 6px 2px rgba($color: #fff, $alpha: 0.9),
    inset 10px 60px 2px -40px rgba($color: #fff, $alpha: 0.5);
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 4px;
  color: lighten($color: $color, $amount: 10%);
  background: radial-gradient(rgba(#fff, 1) $padding, rgba(#fff, 0) $padding);
}

.body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: $color;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gaming-console {
  padding: 8px;
  width: 500px;
  height: 500px;
  position: relative;

  border-radius: 20px;
  box-shadow: 0 0 50px $shadow-color;
  background: lighten($color: $color, $amount: 1%);
  border: 1px solid lighten($color: $color, $amount: 10%);
}

// 屏幕
.screen {
  $radius: 20px;
  $border-width: 20px;

  width: 428px;
  height: 274px;
  position: relative;

  background: #a6ab9e;
  border-radius: $radius;
  border: $border-width solid #2b2c2c;

  &::after {
    content: '';
    position: absolute;
    top: -$border-width;
    left: -$border-width;
    right: -$border-width;
    bottom: -$border-width;
    border-radius: $radius;
    background: linear-gradient(70deg, rgba(#fff, 0) 55%, rgba(#fff, 0.08) 55%);
  }
}

// 螺丝: 右上、左下、右下角
.screw {
  $bg: #596976;
  &-item {
    width: 38px;
    height: 38px;
    position: absolute;

    border-radius: 50%;
    box-shadow:
      inset 0 0 1px 1px #681309,
      inset 0 0 1px 2px rgba(255, 255, 255, 0.7),
      inset 0 -1px 0 2px rgba(0, 0, 0, 0.5);

    background: conic-gradient(
      lighten($bg, 0) 0%,
      lighten($bg, 10) 16%,
      lighten($bg, 20) 26%,
      lighten($bg, 10) 42%,
      lighten($bg, 0) 56%,
      lighten($bg, 20) 88%,
      lighten($bg, 10) 96%,
      lighten($bg, 0) 100%
    );

    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      background: darken($color: $color, $amount: 10%);
      left: 12px;
      right: 12px;
      top: 12px;
      bottom: 12px;

      box-shadow:
        inset 0 -1px 1px 1px #C8DEE4,
        inset 0 -2px 3px 1px #0F164F,
        inset -2px -5px 1px 0 #BFBDB4;
    }

    &:nth-child(1) {
      left: 8px;
      bottom: 8px;
    }

    &:nth-child(2) {
      right: 8px;
      top: 8px;
    }

    &:nth-child(3) {
      right: 8px;
      bottom: 8px;
    }
  }
}

// 按钮组 - A - B
.btns-a-b {
  width: 156px;

  right: 80px;
  bottom: 110px;
  position: absolute;

  display: flex;
  justify-content: space-between;

  .btn {
    @include circular-btn(56px, 40%)
  }
}

// 右上角圆形按钮
.gaming-console::after {
  @include circular-btn(36px, 35%);

  content: '';
  top: 66px;
  right: 8px;
  position: absolute;
}

// 顶部按键
.gaming-console::before {
  $height: 6px;

  content: '';
  display: block;
  width: 56px;
  height: $height;

  right: 78px;
  top: -$height;
  position: absolute;

  border-radius: $height $height 0 0;
  background: #646978;
  box-shadow:
    inset 0 2px 1px -1px rgba($color: #646978, $alpha: 0.8),
    inset 0 5px 2px -2px rgba($color: #fff, $alpha: 0.8),
    inset 8px 0 2px -2px rgba($color: #fff, $alpha: 0.8),
    inset -8px 0 2px -2px rgba($color: #fff, $alpha: 0.8);
}

// 十字形按键
.cross-btn {
  $long: 130px;
  $short: 38px;

  position: absolute;
  bottom: 50px;
  left: 90px;

  height: $long;
  width: $short;

  background: $color;
  border-radius: $short / 2;
  box-shadow:
    0 0 10px rgba(104, 19, 9, 0.1),
    0 0 4px 2px rgba(104, 19, 9, 0.8),
    inset 0 0 0 2px darken($color: $color, $amount: 10%),
    inset 0 6px 6px -2px rgba($color: #fff, $alpha: 0.9);

  &::before {
    content: '';
    display: block;

    width: $long;
    height: $short;

    background: $color;
    border-radius: $short / 2;
    box-shadow:
      0 0 10px rgba(104, 19, 9, 0.1),
      0 0 4px 2px rgba(104, 19, 9, 0.8),
      inset 0 0 0 2px darken($color: $color, $amount: 10%),
      inset 0 3px 6px 2px rgba($color: #fff, $alpha: 0.9);

    position: absolute;
    top: ($long - $short) / 2;
    left: -($long - $short) / 2;
  }

  &::after {
    $padding-y: 40px;
    $padding-x: 4px;

    content: '';
    display: block;
    width: $short - $padding-x;
    height: $long - $padding-y;

    position: absolute;
    left: $padding-x / 2;
    top: $padding-y / 2;
    z-index: 9;

    background: $color;
    box-shadow: 0 0 4px $color;
  }
}

// 音响
.audio {
  width: 22px;
  height: 88px;
  background: radial-gradient(lighten(#646978, 20%) 0%, lighten(#646978, 10%) 100%);
  // box-shadow:
  //   inset 0 0 2px 2px #646978,
  //   inset 0 0 0 4px darken($color: $color, $amount: 20%);

  border-radius: 11px;

  position: absolute;
  right: 13px;
  top: 130px;

  &::after {
    $bg: #181919;

    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $bg;

    position: absolute;
    top: 9px;
    left: 9px;

    $deviation-y: 6px;
    $deviation-x: 6px;

    box-shadow:
      (0 * $deviation-x) ($deviation-y * 1) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 2) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 3) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 4) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 5) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 6) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 7) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 8) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 9) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 10) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 11) 0 0 $bg,

      (1 * $deviation-x) ($deviation-y * (1 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (2 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (3 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (4 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (5 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (6 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (7 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (8 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (9 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (10 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (11 - 0.5)) 0 0 $bg,

      (-1 * $deviation-x) ($deviation-y * (1 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (2 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (3 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (4 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (5 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (6 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (7 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (8 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (9 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (10 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (11 - 0.5)) 0 0 $bg;
  }
}
