.body {
  width: 100%;
  height: 100%;
  background-color: #fff;

  position: relative;
}

.mene {
  top: 100px;
  left: 100px;
  position: absolute;
  overflow: hidden;
}

.mene-item,
.mene-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 10%);

  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mene-toggle {
  label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// 获取焦点(开启状态)
input:focus {
  ~ .mene-toggle label[for="open"] {
    display: none;
  }
}

// 失去焦点(关闭状态)
input:not(:focus) {
  ~ .mene-toggle label[for="close"] {
    display: none;
  }
}
