.body {
  width: 100%;
  height: 100%;
  background-color: #fff;

  position: relative;
}

.mene {
  top: 100px;
  left: 100px;
  position: absolute;
  overflow: hidden;
}

.mene-item,
.mene-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 10%);

  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mene-toggle {
  position: relative; // 触发层叠上下文
  transition: all 0.4s;

  label {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

:global {
  .anticon-close,
  .anticon-tool {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
}

.mene-item-wrapper {
  opacity: 0;
  transform-origin: 30px bottom;
  transform: scale(0) translateY(200px);

  transition: opacity 0.4s, transform 0.4s;
}

:global(#on) {
  width: 0;
  border: 0;
  height: 0;
  padding: 0;

  // 隐藏
  ~ .mene-toggle {
    :global {
      .anticon-close {
        display: none;
      }

      .anticon-tool {
        display: flex;
      }
    }
  }

  // 获取焦点(显示) - toggle 按钮
  &:focus ~ .mene-toggle {
    :global {
      .anticon-close {
        display: flex;
      }

      .anticon-tool {
        display: none;
      }
    }
  }

  // 获取焦点(显示) - 菜单项整体包裹
  &:focus ~ .mene-item-wrapper {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
