.body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #e4e5f4;
}

.menu {
  display: flex;
  padding: 10px 14px;
  border-radius: 8px;
  background: linear-gradient(to right, #b300ff, #7f40ff);
}

.item {
  $title-width: 100px;
  $animation-time: 0.5s;

  display: flex;

  font-size: 18px;
  cursor: pointer;
  align-items: center;
  color: rgba($color: #fff, $alpha: 0.8);

  transition: all $animation-time;

  .icon {
    padding: 5px 14px;
    position: relative;
  }

  .title {
    width: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all $animation-time;
  }

  .tip {
    $width: 160px;
    $height: 80px;
    $arrow-size: 14px;

    width: $width;
    height: $height;

    left: -14px;
    position: absolute;
    top: -1 * ($height + $arrow-size * 2);

    opacity: 0;
    padding: 10px;
    background: #000;
    border-radius: 8px;
    transform: scale(0);
    transition: all $animation-time;
    color: rgba($color: #fff, $alpha: 0.6);
    transform-origin: $arrow-size * 2 $height + $arrow-size * 3;
    box-shadow: 0 0 $arrow-size rgba($color: #b500ff, $alpha: 0.4);

    &::after {
      content: '';
      display: block;

      position: absolute;
      bottom: -$arrow-size;
      left: $arrow-size * 2;

      border-bottom: 0;
      border-top: $arrow-size solid #000;
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
    }
  }

  &.active {
    border-radius: 8px;
    color: rgba($color: #fff, $alpha: 1);
    background: rgba($color: #fff, $alpha: 0.3);

    .title {
      opacity: 1;
      overflow: hidden;
      padding-left: 0px;
      width: $title-width;
    }

    .tip {
      opacity: 1;
      transform: scale(1);
    }
  }
}
