$radius: 10px;

.body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #A3BFFA;
}

.control-center {
  width: 500px;
  height: 610px;
  padding: 10px;
  border-radius: $radius;
  background: rgba($color: #fff, $alpha: 0.2);

  gap: 14px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'connection connection disturb disturb'
    'connection connection brightness airplay'
    'display display display display'
    'sound sound sound sound'
    'playing playing playing playing';

  > div {
    padding: 20px;
    border-radius: $radius;
    background: rgba(255, 255, 255, 0.4);
  }
}

.connection {
  grid-area: connection;

  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(3, 1fr);

  .text {
    div:nth-child(1){
      line-height: 1;
      font-size: 14px;
    }
    div:nth-child(2){
      line-height: 1;
      font-size: 10px;
      padding-top: 6px;
      color: rgba($color: #000, $alpha: 0.4);
    }
  }

  :global {
    .anticon {
      color: #fff;
      padding: 10px;
      font-size: 20px;
      border-radius: 50%;
      background: #027aff;
    }
  }
}

.disturb {
  grid-area: disturb;

  display: flex;
  align-items: center;

  .text {
    color: #000;
    line-height: 1.4;
  }

  :global {
    .anticon {
      color: #000;
      padding: 10px;
      font-size: 20px;
      margin-right: 16px;
      border-radius: 50%;
      background: rgba($color: #000, $alpha: 0.2);
    }
  }
}

.brightness {
  grid-area: brightness;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .text {
    color: #000;
    font-size: 10px;
    text-align: center;
  }

  :global {
    .anticon {
      color: #000;
      font-size: 20px;
      padding-bottom: 4px;
    }
  }
}

.airplay {
  grid-area: airplay;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .text {
    color: #000;
    font-size: 10px;
    text-align: center;
  }

  :global {
    .anticon {
      color: #000;
      font-size: 20px;
      padding-bottom: 4px;
    }
  }
}

.display,
.sound {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  :global {
    .ant-slider {
      margin: 0;
      padding: 0;
      height: 20px;

      &-rail {
        height: 20px;
        border-radius: 10px;
        background: rgba(17, 17, 17, 0.1);
      }

      &:hover .ant-slider-rail {
        background-color: rgba(17, 17, 17, 0.1);
      }

      &-track {
        height: 20px;
        background: #fff;
        border-radius: 10px 0 0 10px;
      }

      &:hover .ant-slider-track {
        background-color: #fff;
      }

      &-handle {
        margin: 0;
        width: 20px;
        height: 20px;
        border: none;
        box-shadow: -2px 0 10px 2px rgba(17, 17, 17, 0.2);
        &:focus {
          box-shadow: -2px 0 10px 2px rgba(17, 17, 17, 0.2);
        }
      }

      &-step {
        opacity: 0;
      }

      &-mark {
        top: -2px;
        left: 16px;

        &-text {
          color: rgba($color: #000, $alpha: 0.4);
        }
      }
    }
  }
}

.display {
  grid-area: display;
}

.sound {
  grid-area: sound;
}

.playing {
  grid-area: playing;

  display: flex;
  align-items: center;

  .apple {
    font-size: 60px;
    color: rgba($color: #000, $alpha: 0.3);
  }

  .text {
    flex: 1;
    line-height: 1.2;
    padding-left: 20px;

    div:first-child {
      color: rgba($color: #000, $alpha: 1.0);
    }

    div:last-child {
      color: rgba($color: #000, $alpha: 0.6);
    }
  }

  .switch {
    color: #000;
    font-size: 20px;
  }
}
