.body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($color: #253598, $alpha: 0.5);
}

.menu {
  $padding-x: 15px;
  $mask-height: 20px;
  $menu-item-width: 80px;
  $menu-item-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: $padding-x;
  background: #fff;
  border-radius: 0 0 10px 10px;

  &-item {
    height: 100%;
    cursor: pointer;
    width: $menu-item-width;
    height: $menu-item-height;

    display: flex;
    justify-content: center;

    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
      position: absolute;

      border-top: $mask-height solid #fff;
      border-left: $menu-item-width solid transparent;

      border-right: 0px solid transparent;
      border-bottom: 0px solid transparent;
    }

    &::before {
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      position: absolute;

      border-bottom: $mask-height solid #fff;
      border-right: $menu-item-width solid transparent;

      border-top: 0px solid transparent;
      border-left: 0px solid transparent;
    }

    &:hover &-content {
      transform: translateY(-$menu-item-height);
    }
  }

  &-item-content {
    color: rgba($color: #211d69, $alpha: 1);
    text-align: center;
    line-height: $menu-item-height;
    transition: transform 0.8s;

    .icon {
      font-size: 24px;
      color: rgba($color: #211d69, $alpha: 0.5);
    }

    .title {
      font-size: 20px;
      color: rgba($color: #211d69, $alpha: 1);
    }
  }
}
