.body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  padding: 20px;
  background: #fff;
}

.emphasis {
  line-height: 1;
  text-emphasis-style: open circle;
  text-emphasis-position: under right;
}
