@use "sass:math";

.body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($color: #253598, $alpha: 50%);
}

.menu {
  $spot-size: 6px;
  $padding-x: 15px;
  $mask-height: 20px;
  $animation-time: 0.8s;
  $menu-item-width: 80px;
  $menu-item-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: $padding-x;
  background: #fff;
  border-radius: 0 0 10px 10px;

  &-item {
    cursor: pointer;
    width: $menu-item-width;
    height: $menu-item-height;

    display: flex;
    justify-content: center;

    overflow: hidden;
    position: relative;

    &-item-content {
      color: rgba($color: #211d69, $alpha: 100%);
      text-align: center;
      line-height: $menu-item-height;
      transition: transform $animation-time;

      .icon {
        font-size: 24px;
        color: rgba($color: #211d69, $alpha: 50%);
      }

      .title {
        font-size: 20px;
        color: rgba($color: #211d69, $alpha: 100%);
      }
    }

    &::before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      position: absolute;

      background-image:
        linear-gradient(
          15deg,
          #fff 25%,
          transparent 25%,
          transparent 75%,
          #fff 75%
        );
    }

    &::after {
      content: "";
      width: $spot-size;
      height: $spot-size;

      right: 0;
      z-index: 9;
      bottom: $spot-size;
      position: absolute;
      left: calc(50% - #{math.div($spot-size, 2)});

      border-radius: 50%;
      transform: scale(0);
      background: #211d69;
      transition: transform $animation-time;
    }

    &:hover {
      &::after {
        transform: scale(1);
      }

      .menu-item-content {
        transform: translateY(-$menu-item-height);
      }
    }
  }
}
