.wrapper {
  overflow: auto;
  width: 200px;
  max-height: 400px;

  border-radius: 8px;
  border: 20px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 30%);
}

.item {
  height: 40px;
  display: flex;
  align-items: center;
}
