@use "sass:color";
@use "sass:math";

$color: #f1ba36;
$shadow-color: rgba(#000, 0.2);

// 圆形按钮
@mixin circular-btn($size, $padding) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow:
    0 0 2px rgb(104 19 9 / 50%),
    0 0 4px 1px rgb(104 19 9 / 80%),
    2px 4px 10px 4px rgb(203 142 18 / 70%),
    inset 0 0 0 2px color.adjust($color: $color, $lightness: -2%),
    inset 0 3px 6px 2px rgba($color: #fff, $alpha: 90%),
    inset 10px 60px 2px -40px rgba($color: #fff, $alpha: 50%);
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 4px;
  color: color.adjust($color: $color, $lightness: 10%);
  background: radial-gradient(rgba(#fff, 1) $padding, rgba(#fff, 0) $padding);
}

.body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: $color;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gaming-console {
  padding: 8px;
  width: 500px;
  height: 500px;
  position: relative;

  border-radius: 20px;
  box-shadow: 0 0 50px $shadow-color;
  background: color.adjust($color: $color, $lightness: 1%);
  border: 1px solid color.adjust($color: $color, $lightness: 10%);
}

// 屏幕
.screen {
  $radius: 20px;
  $border-width: 20px;

  width: 428px;
  height: 274px;
  position: relative;

  background: #a6ab9e;
  border-radius: $radius;
  border: $border-width solid #2b2c2c;

  &::after {
    content: "";
    position: absolute;
    top: -$border-width;
    left: -$border-width;
    right: -$border-width;
    bottom: -$border-width;
    border-radius: $radius;
    background: linear-gradient(70deg, rgba(#fff, 0) 55%, rgba(#fff, 0.08) 55%);
  }
}

// 螺丝: 右上、左下、右下角
.screw {
  $bg: #596976;

  &-item {
    width: 38px;
    height: 38px;
    position: absolute;

    border-radius: 50%;
    box-shadow:
      inset 0 0 1px 1px #681309,
      inset 0 0 1px 2px rgb(255 255 255 / 70%),
      inset 0 -1px 0 2px rgb(0 0 0 / 50%);

    background:
      conic-gradient(
        $color 0%,
        color.adjust($color, $lightness: 10%) 16%,
        color.adjust($color, $lightness: 20%) 26%,
        color.adjust($color, $lightness: 10%) 42%,
        $color 56%,
        color.adjust($color, $lightness: 20%) 88%,
        color.adjust($color, $lightness: 10%) 96%,
        $color 100%
      );

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background: color.adjust($color: $color, $lightness: -10%);
      left: 12px;
      right: 12px;
      top: 12px;
      bottom: 12px;

      box-shadow:
        inset 0 -1px 1px 1px #c8dee4,
        inset 0 -2px 3px 1px #0f164f,
        inset -2px -5px 1px 0 #bfbdb4;
    }

    &:nth-child(1) {
      left: 8px;
      bottom: 8px;
    }

    &:nth-child(2) {
      right: 8px;
      top: 8px;
    }

    &:nth-child(3) {
      right: 8px;
      bottom: 8px;
    }
  }
}

// 按钮组 - A - B
.btns-a-b {
  width: 156px;

  right: 80px;
  bottom: 110px;
  position: absolute;

  display: flex;
  justify-content: space-between;

  .btn {
    @include circular-btn(56px, 40%);
  }
}

// 右上角圆形按钮
.gaming-console::after {
  @include circular-btn(36px, 35%);

  content: "";
  top: 66px;
  right: 8px;
  position: absolute;
}

// 顶部按键
.gaming-console::before {
  $height: 6px;

  content: "";
  display: block;
  width: 56px;
  height: $height;

  right: 78px;
  top: -$height;
  position: absolute;

  border-radius: $height $height 0 0;
  background: #646978;
  box-shadow:
    inset 0 2px 1px -1px rgba($color: #646978, $alpha: 80%),
    inset 0 5px 2px -2px rgba($color: #fff, $alpha: 80%),
    inset 8px 0 2px -2px rgba($color: #fff, $alpha: 80%),
    inset -8px 0 2px -2px rgba($color: #fff, $alpha: 80%);
}

// 十字形按键
.cross-btn {
  $long: 130px;
  $short: 38px;

  position: absolute;
  bottom: 50px;
  left: 90px;

  height: $long;
  width: $short;

  background: $color;
  border-radius: math.div($short, 2);
  box-shadow:
    0 0 10px rgb(104 19 9 / 10%),
    0 0 4px 2px rgb(104 19 9 / 80%),
    inset 0 0 0 2px color.adjust($color: $color, $lightness: -10%),
    inset 0 6px 6px -2px rgba($color: #fff, $alpha: 90%);

  &::before {
    content: "";
    display: block;

    width: $long;
    height: $short;

    background: $color;
    border-radius: math.div($short, 2);
    box-shadow:
      0 0 10px rgb(104 19 9 / 10%),
      0 0 4px 2px rgb(104 19 9 / 80%),
      inset 0 0 0 2px color.adjust($color: $color, $lightness: -10%),
      inset 0 3px 6px 2px rgba($color: #fff, $alpha: 90%);

    position: absolute;
    top: math.div($long - $short, 2);
    left: math.div($long - $short, -2);
  }

  &::after {
    $padding-y: 40px;
    $padding-x: 4px;

    content: "";
    display: block;
    width: $short - $padding-x;
    height: $long - $padding-y;

    position: absolute;
    left: math.div($padding-x, 2);
    top: math.div($padding-y, 2);
    z-index: 9;

    background: $color;
    box-shadow: 0 0 4px $color;
  }
}

// 音响
.audio {
  width: 22px;
  height: 88px;
  background:
    radial-gradient(
      color.adjust($color: #646978, $lightness: 20%) 0%,
      color.adjust($color: #646978, $lightness: 10%) 100%
    );

  border-radius: 11px;

  position: absolute;
  right: 13px;
  top: 130px;

  box-shadow:
    inset 0 0 2px 2px #646978,
    inset 0 0 0 2px color.adjust($color: $color, $lightness: -20%);

  &::after {
    $bg: #181919;
    $deviation-y: 6px;
    $deviation-x: 6px;

    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $bg;

    position: absolute;
    top: 9px;
    left: 9px;

    box-shadow:
      (0 * $deviation-x) ($deviation-y * 1) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 2) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 3) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 4) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 5) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 6) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 7) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 8) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 9) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 10) 0 0 $bg,
      (0 * $deviation-x) ($deviation-y * 11) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (1 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (2 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (3 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (4 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (5 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (6 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (7 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (8 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (9 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (10 - 0.5)) 0 0 $bg,
      (1 * $deviation-x) ($deviation-y * (11 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (1 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (2 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (3 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (4 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (5 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (6 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (7 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (8 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (9 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (10 - 0.5)) 0 0 $bg,
      (-1 * $deviation-x) ($deviation-y * (11 - 0.5)) 0 0 $bg;
  }
}

// 手柄
.dandle {
  $bg: #403f3a;

  width: 7px;
  height: 44px;

  top: 232px;
  right: -7px;
  position: absolute;

  background:
    linear-gradient(
      $bg,
      color.adjust($color: $bg, $lightness: 60%) 10%,
      $bg 40%,
      color.adjust($color: $bg, $lightness: 30%)
    );
  box-shadow: inset 2px 0 4px -1px rgb(104 19 9 / 80%);

  &::after {
    content: "";
    display: block;

    width: 16px;
    height: 36px;

    top: 4px;
    right: -16px;
    position: absolute;

    background: $bg;
  }

  &-rifle {
    $bg: #344359;
    width: 32px;
    height: 180px;

    position: absolute;
    right: -32px;
    bottom: 4px;
    z-index: 9;

    background:
      linear-gradient(
        color.adjust($color: $bg, $lightness: 80%),
        color.adjust($color: $bg, $lightness: 30%) 4%,
        color.adjust($color: $bg, $lightness: 60%) 20%,
        $bg,
        color.adjust($color: $bg, $lightness: 20%),
      );

    border-radius: 4px 4px 16px 16px;
    box-shadow:
      inset 0 0 4px rgba($color: #fff, $alpha: 10%),
      inset 4px -4px 3px -3px rgba($color: $color, $alpha: 50%);

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      display: block;

      position: absolute;
      bottom: 10px;
      left: 11px;

      border-radius: 50%;
      background: $color;
      box-shadow:
        0 -1px 1px 1px rgba($color: #fff, $alpha: 60%),
        inset 0 1px 1px 1px $bg;
    }
  }

  &-bar {
    width: 74px;
    height: 56px;

    top: -140px;
    right: -110px;
    position: absolute;

    border-radius: 4px;
    box-shadow:
      0 0 50px $shadow-color,
      inset -4px 4px 2px -2px rgba($color: #fff, $alpha: 20%),
      inset 0 -4px 2px -2px rgba($color: #000, $alpha: 20%);
    background: color.adjust($color: $color, $lightness: 1%);

    &::after {
      content: "";
      display: block;
      width: 4px;
      height: 40px;

      top: 8px;
      left: -4px;
      position: absolute;

      background:
        linear-gradient(
          color.adjust($color, $lightness: 10%),
          color.adjust($color, $lightness: -20%)
        );

      box-shadow:
        2px 0 0 0 color.adjust($color: $color, $lightness: 10%),
        0 0 8px rgba($color: #000, $alpha: 50%);
    }
  }
}
